/* ====================================
   BASIC RESET
   ==================================== */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


/* ====================================
   DEBUGGING
   ==================================== */

* {
  outline: 1px solid red;
}


/* ====================================
   FONTS
   ==================================== */

* {
  font-family: Roboto;
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 6.0rem;
}

h2 {
  font-family: "Bad Script";
  font-weight: 300;
  font-size: 8rem;
}

p {
  font-size: 2rem;
}


/* ====================================
   COLORS
   ==================================== */

body {
  background: #3c474d;
  color: #d0ac66;
}


/* ====================================
   LAYOUT
   ===================================== */

* {
  text-align: center;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-container {
  max-width: 960px;
  margin: 0 auto;
}

.polkadots-bottom {
  transform: rotate(180deg);
}

.coffee {
  margin-bottom: 10px;
}























