/*
  =====================================
  BASIC RESET
  =====================================
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
  =====================================
  FONTS
  =====================================
*/

* {
  font-family: sans-serif;
  text-align: center;
}


/*
  =====================================
  LAYOUT
  =====================================
*/

body {
  background: #3c474d;
  color: #d0ac66;
}